* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .page{
    display: flex;
    flex-wrap: wrap;
  }

  .top_bar{
    font-size: 110%;
    width: 100%;
    display: inline-block;
    background-color: rgba(0,139, 139,0.8);
    padding: 10px 15px;
    margin: 0;
  }
  
  .menu-container {
    color: #fff;
    background-color: #5995DA;  /* Blue */
    padding: 20px 0;
    display: flex;
    justify-content: center;    /* Horizontal alignment */
  }
  
  .menu {
    border: 1px solid #fff;
    width: 900px;
    display: flex;
    justify-content: space-between;
  }

  .links {
    border: 1px solid #fff;  /* For debugging */
    display: flex;
    justify-content: flex-end;
  }
  
  .database_demo {
    text-decoration: none;
    margin-left: auto;
  }

  .main_page {
    margin-left: 20px;
    text-decoration: none;
  }

  .header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
  }
  
  .header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Vertical alignment*/
  }

  .photo-grid-container {
    display: flex;
    justify-content: center;
  }
  
  .photo-grid {
    width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
  }
  
  .photo-grid-item {
    border: 1px solid #fff;
    width: 300px;
    height: 300px;
  }

  .first-item {
    order: 1;
  }
  
  .last-item {
    order: -1;
  }

.my_github, .group_project_link {
  align-self: flex-end;
  margin-bottom: 20px;
  text-decoration: none;
}

.footer {
    display: flex;
    justify-content: space-between;
  }
  
.footer-item {
    border: 1px solid #fff;
    background-color: #D6E9FE;
    height: 200px;
    flex: 1;
}

.footer-three {
    flex: 2;
}

.footer-one, .footer-three {
  background-color: #5995DA;
  flex: initial;
  width: 300px;
}


/*
    @media - Optimize the right screen size when adjusting the page
*/

@media (min-width: 375px) {    
    .main{
        font-size: 30px;
    }
    
    .menu{
        width: 100%;
    }

   .group_project_link{
       margin-left: -37px;
   }

   .my_github{
       margin-right: -37px;
   }

   .photo-grid{
    align-content: center;
    width: 90%;
   }

   .footer-one, .footer-three{
       width: 40%;
   }
}


/*
    Currently doing the Tablet Screen Size
    Status: not working. Display only the 640px but when trying to minimize the screen size, it won't go the media at with 375px
*/
@media (min-width: 640px){
    .footer-one, .footer-three{
        width: 34%;
    }
  }